WebServiceEx/WebContent/wsdl/Car.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.im.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.im.com" xmlns:intf="http://ws.im.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.im.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getTitleById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTitleByIdResponse">
    <complexType>
     <sequence>
      <element name="getTitleByIdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getTitleByIdResponse">

      <wsdl:part element="impl:getTitleByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTitleByIdRequest">

      <wsdl:part element="impl:getTitleById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Car">

      <wsdl:operation name="getTitleById">

         <wsdl:input message="impl:getTitleByIdRequest" name="getTitleByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTitleByIdResponse" name="getTitleByIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CarSoapBinding" type="impl:Car">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTitleById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTitleByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTitleByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CarService">

      <wsdl:port binding="impl:CarSoapBinding" name="Car">

         <wsdlsoap:address location="http://localhost:8080/WebServiceEx/services/Car"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
